:root {
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    --text-primary: #ffffff;
    --bg-primary: #505050;
}

body {
    color: var(--text-primary);
    background-color: var(--bg-primary);
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
    background: #6649b8;
}

main {
    margin-left: 5rem;
    width: clamp(600px, 50%, 1500px);
    padding: 1rem;
}

.navbar {
    width: 5rem;
    height: 100vh;
    position: fixed;
    background-color: darkblue;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 210px 1fr;
    grid-template-rows: auto 1fr 1fr;
    place-content: center;
    justify-content: center;
    align-items: center;
    grid-gap: 10px;
    background-color: red;
    color: #444;
}
  
.box {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
}

.gradient {
    display: flex;
    justify-content: center;
    align-items: center;
    width: clamp(450px, 90%, 100vw);
    height: 20vh;
    margin: 20px;
}

.linear-gradient {
    background-image: linear-gradient(to right top, #ff0707, #00eeff);
}

.radial-gradient {
    background: radial-gradient(ellipse at right bottom, darkblue, transparent);
}

.text-gradient h1 {
    font-size: 72px;
    background-image: linear-gradient(to right, #eee, #12a);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.repeat-gradient {
    background: repeating-linear-gradient(135deg, #12e, #ebf8e1 15%, #666 20%);
}